html,body{
    width: 100%;
    height: 100%;
}

*{
    box-sizing: border-box;
}

.search-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 10px;
}

input {
    font-size: 16px;
    padding: 2px 4px;
}

.user-cards{
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 16px 5px 0 5px;
}

.card{
    flex-grow: 1;
    min-width: 25%;
    padding: 8px;
    border: 1px solid #000;
    margin: 10px 5px;
  
}

.header{
    margin-bottom:  4px;
}
.body{
    font-size: 12px;
    color: #777;
}
.hide{
    display: none;
}

@media only screen and (min-width: 1200px) {
    .card {
        min-width: 33.33%; 
    }
  }